*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

.DS_Store
*.iml
.idea/
atlassian-ide-plugin.xml

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*
!.bundle/config
.bundle/bin/*
!.bundle/bin/.gitkeep

.kitchen/
.kitchen.local.yml
